.template__container {
  width: 95%;
  margin: 25px auto;
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding-bottom: 100px;
}

.template__container .payment__rows__are {
  background-color: #a4ace7;
  border-radius: 10px;
  margin: 5px 15px;
}
