@import "../../styles/styles";

.container {
    min-height: 90vh;
    @include flexCenter;

    .budget__wrapper {
        background-color: $main-background;
        width: 90%;
        border-radius: 5px;
        padding: 10px;
        box-shadow: 0 0 5px white;
    }
}
