.container {
  min-height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .budget__wrapper {
  width: 95%;
  border-radius: 3px;
  padding: 10px;
  -webkit-box-shadow: 0 0 3px #16182a;
          box-shadow: 0 0 3px #16182a;
}
