@import "../../styles/styles";

.container {
    min-height: 90vh;
    @include flexCenter;

    .budget__wrapper {
        width: 95%;
        border-radius: 3px;
        padding: 10px;
        box-shadow: 0 0 3px $header-background;
    }
}

@media screen and (min-width: 786px) {
    .container {
        min-height: 40vh;
        .budget__wrapper {
            width: 35%;
            border-radius: 5px;
            padding: 20px;
        }
    }
}
