@import "../../styles/styles";

.landing__container {
    min-height: 85vh;
    margin: 0 auto;
    width: 90%;

    .select__active__budget {
        height: 65vh;
        @include flexCenterColumn();
        h4 {
            color: $secondary-color;
            border-bottom: 1px solid $secondary-color;
            &:hover {
                cursor: pointer;
                color: darken($secondary-color, 15%);
            }
        }
    }
}
