@import "../../styles/styles";

.landing__container {
    min-height: 80vh;
    margin: 0 auto;
    width: 90%;
    .select__active__budget {
        width: 70%;
        margin: 70px auto;
        padding: 20px 10px;
        background-color: $header-background;
        font-size: 1.2rem;
        border-radius: 10px;
        @include flexCenterColumn();
        h4 {
            color: $secondary-color;
            border-bottom: 1px solid $secondary-color;
            &:hover {
                cursor: pointer;
                color: darken($secondary-color, 15%);
            }
        }
    }
    .select__valid {
        margin-top: 180px;
    }
}
