@import "../../../../styles/styles";

.see__budgets__container {
    margin-top: 15px;
    .tab__nav {
        .tab__nav__btn {
            width: 50%;
            border: none;
            padding: 8px;
            background-color: $primary-color;
            color: $secondary-color;
            font-size: 0.8rem;
            font-weight: bold;
        }
        .active__budget__tab {
            color: $primary-color;
            background-color: lighten($header-background, 15%);
        }
    }
    .no__data {
        margin-top: 120px;
        @include flexCenterColumn();
    }
}

@media screen and (min-width: 786px) {
    .see__budgets__container {
        width: 50%;
        margin: 0 auto;
        .tab__nav {
            .tab__nav__btn {
                width: 50%;
                padding: 10px;
                font-size: 1.3rem;
                &:hover {
                    cursor: pointer;
                }
            }
        }
        .no__data {
            margin-top: 200px;
        }
    }
}
