@import "../../../../styles/styles";

.budget__heading {
    display: flex;
    align-items: center;
    margin: 15px 0;
    .cel__heading {
        width: 25%;
        color: $header-background;
        text-align: center;
        font-family: "Kdam Thmor Pro", sans-serif;
    }
}
