.budget__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 15px 0;
}

.budget__heading .cel__heading {
  width: 25%;
  color: #16182a;
  text-align: center;
  font-family: "Kdam Thmor Pro", sans-serif;
}

@media screen and (min-width: 786px) {
  .budget__heading .cel__heading {
    width: 25%;
    font-size: 1.1rem;
  }
}
