@import "../../../../styles/styles";

.budget__heading {
    display: flex;
    align-items: center;
    box-shadow: 0 0 2px $primary-color;
    margin: 5px 0;
    .cel__heading {
        width: 25%;
        color: $secondary-color;
        text-align: center;
        font-family: "Kdam Thmor Pro", sans-serif;
    }
}
