.budget__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 0 2px #f0f8ff;
          box-shadow: 0 0 2px #f0f8ff;
  margin: 5px 0;
}

.budget__heading .cel__heading {
  width: 25%;
  color: #87ceeb;
  text-align: center;
  font-family: "Kdam Thmor Pro", sans-serif;
}
