@import "../../../../../../../styles/styles";

.payment__row__preview__container {
    width: 60%;
    margin-top: 15px;
    padding: 8px;
    background-color: $primary-color;
    border-radius: 5px;
    background-color: darken($header-color, 15%);

    .payment__item {
        width: 70%;
        text-align: center;
        color: white;
    }

    @include flexRowSpaceBetween();

    .delete__row__btn {
        @include addSaveButtons(60px, 0, 0, inline, $error-color);
    }
}
