.blocks__preview__container {
  margin-top: 25px;
}

.blocks__preview__container .block__preview {
  margin-top: 5px;
  padding: 10px;
  -webkit-box-shadow: 0 0 3px #a4ace7;
          box-shadow: 0 0 3px #a4ace7;
}

.blocks__preview__container .block__preview h4 {
  margin: 0;
  color: #a4ace7;
  border-bottom: 2px solid #a4ace7;
}

.blocks__preview__container .block__preview h4 span {
  float: right;
  color: #e8796f;
  cursor: pointer;
}

.blocks__preview__container .block__preview h4 span:hover {
  color: #d03021;
}

.blocks__preview__container .block__preview div {
  font-weight: bold;
  color: #191970;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blocks__preview__container .block__preview div span {
  margin: 15px;
  width: 50%;
  text-align: right;
}
