@import "../../../../../../styles/styles";

.blocks__preview__container {
    margin-top: 25px;
    .block__preview {
        margin-top: 5px;
        padding: 10px;
        box-shadow: 0 0 3px $header-color;
        h4 {
            margin: 0;
            color: $header-color;
            border-bottom: 2px solid $header-color;
            span {
                float: right;
                color: lighten($error-color, 20%);
                cursor: pointer;
            }
        }
        div {
            font-weight: bold;
            color: $main-background;

            @include flexRowSpaceBetween();
            span {
                margin: 15px;
                width: 50%;
                text-align: right;
            }
        }
    }
}

@media screen and (min-width: 786px) {
    .blocks__preview__container {
        .block__preview {
            padding: 20px;
            width: 30%;
            margin: 15px auto;
            h4 {
                border-bottom: 3px solid $header-color;
                font-size: 1.4rem;
                span {
                    &:hover {
                        color: $error-color;
                    }
                }
            }
            div {
                font-size: 1.2rem;
                span {
                    margin: 15px;
                    width: 50%;
                    text-align: right;
                    font-size: 1.4rem;
                }
            }
        }
    }
}
