@import "../../../../styles/styles";

.budget__header {
    box-shadow: 0 0 2px $header-background;
    border-radius: 3px;
    padding: 5px;
    margin: 10px 0;
    .month {
        font-family: "Kdam Thmor Pro", sans-serif;
        color: $header-background;
    }
    .monthly__income__heading {
        font-family: "Kdam Thmor Pro", sans-serif;
        text-align: center;
        color: $header-background;
    }

    .monthly__income__input__container {
        display: flex;
        justify-content: center;
        align-items: center;
        .monthly__income {
            border: none;
            border-radius: 5px;
            width: 100px;
            text-align: center;
            font-size: 1.4rem;
            letter-spacing: 2px;
            font-weight: bold;
            color: $header-background;
            padding: 4px 7px;
            box-shadow: 0 0 4px $header-background;
            &:focus {
                border: none;
                outline: none;
                background-color: $secondary-background;
            }
        }
        .monthly__income__blured {
            background-color: whitesmoke;
            color: $primary-color;
        }
    }
}
