@import "../../../../../styles/styles";

.item__container {
    width: 90%;
    margin: 15px auto;
    background-color: $secondary-color;
    border-radius: 5px;
    box-shadow: 1px 2px 2px 2px $primary-color;
    .item__container__top {
        width: 100%;
        text-align: center;
        font-size: 1.1rem;
        font-weight: bold;
        color: $primary-color;
    }

    .item__container__bottom {
        @include flexCenter();
        padding: 10px;
        .budget__is__active {
            width: 33%;
            text-align: center;
            span {
                background-color: $green-color;
                border-radius: 5px;
                padding: 2px 5px;
                font-size: 0.8rem;
                color: $primary-color;
                font-weight: bold;
            }
        }
        .item__container__bottom__option {
            width: 33%;
            text-align: center;
            padding: 5px;
            @include flexCenterColumn();

            .bottom__option__btn {
                @include customBtn(auto, 0.7rem, 0, 0, inline-block, $header-background);
            }
            .delete {
                @include customBtn(auto, 0.7rem, 0, 0, inline-block, $error-color);
            }
        }
    }
}
.active__container {
    background-color: $header-background;
}
