.expanses__type {
  background-color: #f7f7fb;
  border-radius: 3px;
  margin: 18px 0px;
  padding: 8px;
}

.expanses__type .expanses__title {
  text-transform: uppercase;
  font-style: italic;
  color: #16182a;
  font-weight: bold;
}

.expanses__type .payment__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #16182a;
  padding: 5px 0px;
}

.expanses__type .payment__row .payment__cell {
  width: 30%;
  text-align: center;
}

.expanses__type .payment__row .payment__for {
  font-weight: bold;
  color: #16182a;
}

.expanses__type .payment__row .payment__amount {
  font-family: "Kdam Thmor Pro", sans-serif;
  border-radius: 15%;
  width: 45px;
  height: 35px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  color: #16182a;
  -webkit-box-shadow: 0 0 3px #16182a;
          box-shadow: 0 0 3px #16182a;
  font-size: 1rem;
  font-weight: bold;
}

.expanses__type .payment__row input[name="payment"]:focus,
.expanses__type .payment__row input[name="payed"]:focus,
.expanses__type .payment__row input[name="remaining"]:focus {
  outline: none;
  border: none;
  background-color: #191970;
  color: #f0f8ff;
}

.expanses__type .payment__row input[name="remaining"] {
  pointer-events: none;
}

@media screen and (min-width: 786px) {
  .expanses__type .expanses__title {
    font-size: 1.1rem;
  }
  .expanses__type .payment__row {
    padding: 10px 0px;
  }
  .expanses__type .payment__row .payment__for {
    font-size: 1rem;
  }
  .expanses__type .payment__row .payment__amount {
    border-radius: 10%;
    width: 80px;
    height: 40px;
    font-size: 1.2rem;
    letter-spacing: 1.2px;
    text-align: center;
  }
}
