@import "../../../../styles/styles";

.template__container {
    width: 95%;
    margin: 25px auto;
    align-self: flex-start;
    padding-bottom: 100px;
    .payment__rows__are {
        background-color: $header-color;
        border-radius: 10px;
        margin: 5px 15px;
    }
}
