// BUDGET
$main-background: #191970;
$secondary-background: #2a52be;
$primary-color: #f0f8ff;
$secondary-color: #87ceeb;
$green-color: #32cd32;

// HEADER AND AUTH
$header-background: #16182a;
$header-color: #a4ace7;
$error-color: #d03021;

@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flexCenterColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin flexRowEvenly {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

@mixin flexRowSpaceBetween {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@mixin inputs($width, $fontSize, $paddingY, $paddingX) {
    font-weight: bold;
    padding: $paddingY $paddingX;
    font-size: $fontSize;
    margin-top: 20px;
    border: none;
    border-bottom: 1px solid $header-background;
    text-align: center;
    width: $width;
    transition: 0.4s;
    &:focus {
        outline: none;
        border-bottom: 1px solid $green-color;
        color: $secondary-color;
    }
}

@mixin customBtn($width, $fontSize, $marginY, $marginX, $block, $background) {
    display: $block;
    margin: $marginY $marginX;
    border: none;
    border-radius: 5px;
    padding: 5px;
    width: $width;
    background-color: lighten($background, 10%);
    color: $primary-color;
    font-weight: bold;
    box-shadow: 0px 4px 4px $background;
    transition: 0.2s;
    font-size: $fontSize;
    &:hover {
        cursor: pointer;
        background-color: $background;
        box-shadow: 0px 7px 7px $background;
    }
}
