// BUDGET
$main-background: #191970;
$secondary-background: #2a52be;
$primary-color: #f0f8ff;
$secondary-color: #87ceeb;
$green-color: #32cd32;

// HEADER AND AUTH
$header-background: #16182a;
$header-color: #a4ace7;
$error-color: #d03021;

@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flexCenterColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin flexRowEvenly {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
