.budget__footer {
  -webkit-box-shadow: 0 0 2px #16182a;
          box-shadow: 0 0 2px #16182a;
  border-radius: 3px;
  padding: 5px;
  margin: 20px 0;
}

.budget__footer .footer__title {
  color: #16182a;
  padding: 5px;
  font-family: "Kdam Thmor Pro", sans-serif;
}

.budget__footer .footer__title span {
  font-weight: bold;
  font-size: 1.1rem;
  background-color: #16182a;
  color: #f0f8ff;
  padding: 5px 15px;
  border-radius: 5px;
}

@media screen and (min-width: 786px) {
  .budget__footer {
    padding: 10px;
    margin: 25px 0;
  }
  .budget__footer .footer__title {
    color: #16182a;
    font-size: 1.2rem;
    padding: 10px;
  }
  .budget__footer .footer__title span {
    font-weight: bold;
    font-size: 1.3rem;
  }
}
