@import "../../../../styles/styles";

.budget__footer {
    box-shadow: 0 0 2px $header-background;
    border-radius: 3px;
    padding: 5px;
    margin: 20px 0;

    .footer__title {
        color: $header-background;
        padding: 5px;
        font-family: "Kdam Thmor Pro", sans-serif;
        span {
            font-weight: bold;
            font-size: 1.1rem;
            background-color: $header-background;
            color: $primary-color;
            padding: 5px 15px;
            border-radius: 5px;
        }
    }
}

@media screen and (min-width: 786px) {
    .budget__footer {
        padding: 10px;
        margin: 25px 0;
        .footer__title {
            color: $header-background;
            font-size: 1.2rem;
            padding: 10px;
            span {
                font-weight: bold;
                font-size: 1.3rem;
            }
        }
    }
}
