.title__inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title__inputs .title__inputs__input {
  font-weight: bold;
  padding: 5px 5px;
  font-size: 1.3rem;
  margin-top: 20px;
  border: none;
  border-radius: 4px;
  text-align: center;
  width: 140px;
  -webkit-box-shadow: 0 0px 5px #a4ace7;
          box-shadow: 0 0px 5px #a4ace7;
}

.title__inputs .title__inputs__input:focus {
  outline: none;
  -webkit-box-shadow: 0 0px 5px #16182a;
          box-shadow: 0 0px 5px #16182a;
}
