.payment__row__preview__container {
  width: 70%;
  padding: 7px;
  margin-top: 5px;
  border-radius: 3px;
  border: 2px solid #f0f8ff;
  background-color: #f0f8ff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.payment__row__preview__container .payment__item {
  width: 75%;
  text-align: center;
  color: #002e57;
}

.payment__row__preview__container .delete__row__btn {
  display: inline;
  margin: 0 0;
  border: none;
  border-radius: 5px;
  padding: 5px;
  width: 45px;
  background-color: #e15043;
  color: #f0f8ff;
  font-weight: bold;
  -webkit-box-shadow: 0px 4px 4px #d03021;
          box-shadow: 0px 4px 4px #d03021;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  font-size: 0.6rem;
}

.payment__row__preview__container .delete__row__btn:hover {
  cursor: pointer;
  background-color: #d03021;
  -webkit-box-shadow: 0px 7px 7px #d03021;
          box-shadow: 0px 7px 7px #d03021;
}

@media screen and (min-width: 786px) {
  .payment__row__preview__container {
    width: 30%;
  }
  .payment__row__preview__container .payment__item {
    width: 60%;
    font-size: 1.2rem;
  }
  .payment__row__preview__container .delete__row__btn {
    display: inline;
    margin: 0 0;
    border: none;
    border-radius: 5px;
    padding: 5px;
    width: 66px;
    background-color: #e15043;
    color: #f0f8ff;
    font-weight: bold;
    -webkit-box-shadow: 0px 4px 4px #d03021;
            box-shadow: 0px 4px 4px #d03021;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    font-size: 1rem;
  }
  .payment__row__preview__container .delete__row__btn:hover {
    cursor: pointer;
    background-color: #d03021;
    -webkit-box-shadow: 0px 7px 7px #d03021;
            box-shadow: 0px 7px 7px #d03021;
  }
}
