@import "../../../../../../../../styles/styles";

.new__payment__block__container {
    padding-bottom: 50px;

    .new__payment__input__container {
        @include flexRowSpaceBetween();
    }
    .new__payment__input {
        width: 20%;
        margin: 2px;
        @include inputs(90px, 0.8rem, 10px, 15px);
    }

    .add__payment__row__btn {
        @include addSaveButtons(120px, 1rem, 30px, auto, block, $header-background);
    }
}
