.create__options__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.create__options__header .create__option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 35%;
  padding: 5px 9px;
  margin: 6px;
  font-size: 0.8rem;
  font-weight: bold;
  color: #a4ace7;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.create__options__header .create__option .create__data {
  border-bottom: 1px solid #a4ace7;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  width: 80%;
  height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.create__options__header .create__option .create__data:hover {
  cursor: pointer;
}

.create__options__header .create__option .see__data {
  width: 25px;
  height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-left: 10px;
  border-radius: 5px;
  border: 1px solid #a4ace7;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.create__options__header .create__option .see__data:hover {
  cursor: pointer;
  -webkit-box-shadow: 2px 4px 4px #191970;
          box-shadow: 2px 4px 4px #191970;
}

.create__options__header .activeUI {
  -webkit-box-shadow: 0px 4px 4px #191970;
          box-shadow: 0px 4px 4px #191970;
}
