.blocks__preview__container {
  margin-top: 10px;
}

.blocks__preview__container .block__preview {
  padding: 5px;
  margin: 5px;
  -webkit-box-shadow: 0 0 2px #a4ace7;
          box-shadow: 0 0 2px #a4ace7;
}

.blocks__preview__container .block__preview h4 {
  margin: 0;
  color: #a4ace7;
  border-bottom: 2px solid #a4ace7;
}

.blocks__preview__container .block__preview p {
  margin: 0;
  color: #16182a;
  padding: 0 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
